/* MAIN TAGS */
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
:root {
    --brand-color:#2196F3; 
    --text-color: #757575;
}

li {
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: 'Roboto', sans-serif;
}



/* COMMON STYLES */

.link  {
    text-decoration: none;
    font-weight: 500;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    color: var(--brand-color);
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link:focus {
    color: var(--brand-color);
}

.nav {
    display: flex;
    margin: 0
}

.button {
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: var(--brand-color);
    color: white;
}

.button:focus {
    background-color:var(--brand-color);
    color: white;
}

.section {
    padding: 94px 0;
}


/* NAVIGATION */

.navigation {
    display: flex;  
    margin-left: 93px;
    padding-top: 32px;

}

.header {
    display: flex;
    
}

.main-header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    font-style: normal;
    color: var(--brand-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-span {
    color: black;
    font-style: normal;
}

.nav-link {
    font-size: 14px;
    line-height: calc(16/14);
    font-weight: 500;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: 3px;
    left: 0;
    position: absolute;
    display: flex;

}

.portfolio, .contacts {
    margin-left: 50px;
}

.active {
    color: var(--brand-color);
}

.contact-link {
    /* display: flex; */
    font-size: 14px;
    line-height: calc(16/14);
    color: var(--text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contact-item:nth-child(2) {
    margin-left: 30px;
    
}

.smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.contact-item > .contact-link {
    display: flex;
    align-items: center;
}

.email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.email:hover {
    fill:#2196f3;
    
}

.smartphone:hover {
    fill:#2196f3;
}

.contact-list {
    display: flex;
    padding-top: 32px;
    margin-left: auto; 
}

/* INDEX.HTML */

    /* HERO */
.hero {
    /* background:#2F303A; */
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: #2F303A;

}

.main-title {
    font-size: 44px;
    line-height: calc(60/44);
    color: white;
    font-weight: 900;
    max-width: 696px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
}

.hero-button {
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    line-height: calc(26/16);
    border: none;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.close-button-icon {
    width: 11px;
    height: 11px;
}

.modal {
    position: relative;
    width: 528px;
    height: 581px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}


    /* MAIN */

.main {
    display: flex;
    margin-left: -30px
    /* padding-left: 215px; */
}

.main-list {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    
    
}

.main-block {
    height: 120px;
    width: 270px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.main-item {
    width: 70px;
    height: 70px;
    /* padding-top: 25px; */
}

/* .main-list + .main-list {
    margin-left: 30px;
} */

.mail-list-title {
    font-size: 14px;
    line-height: calc(16/14);
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}

.main-list-text {
    font-size: 14px;
    color: var(--text-color);
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

    /* TASK */
.task-title {
    font-size: 36px;
    line-height: calc(42/36);
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;

}

.task-section {
    padding-top: 0;
}

.task-list {
    display: flex;
    margin-left: -30px;
}


.task-name {
    width: 370px;
    height: 70px;
    background-color:  rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    /* top: -70px; */
}

.task-text {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 70px;
    letter-spacing: 0.03em;
    
}



.task-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    position: relative
    
}

    /* TEAM */

.team-title {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center; 
    margin-bottom: 50px;
    letter-spacing: 0.03em;

}

.team-section {
    background: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-item {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}

.team-item + .team-item {
    margin-left: 30px;
}


.team-item-title {
    font-size: 16px;
    line-height: calc(19/16);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
}

.conteiner-team {
    padding-top: 30px;
    padding-bottom: 30px;

}

.team-item-par {
    font-size: 16px;
    line-height: calc(19/16);
    color: var(--text-color);
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-media-box {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: center;
}

.social-media-list {
    /* border-radius: 50%; */
    width: 44px;
    height: 44px;
    /* display: block; */
    /* text-align: center; */
}

.social-media-item {
    width: 20px;
    height: 20px;
    /* padding-top: 12px; */
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list:not(:nth-child(1)) {
    margin-left: 10px;
}

/* .social-media-list:nth-child(1) {
    margin-left: 32px;
} */


.social-media-link:hover, .social-media-link:focus {
    background-color: var(--brand-color);
}
.social-media-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    


}

.social-media-link:hover .social-media-item, .social-media-link:focus .social-media-item {
    fill: white;
}


/* CLIENTS */

.client-section {
    background-color: white;
}

.client-title {
    text-align: center;
    font-size: 36px;
    line-height: calc(42/36);
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}

.client-list {
    display: flex;
    
    justify-content: center;
    align-content: center;
}

.client-item:not(:nth-child(1)) {
    margin-left: 30px;
}



.client-item {
    
    
    width: 170px;
    height: 92px;
}

.client-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.client-link:hover, .client-link:focus{
    border-color: var(--brand-color); 
}





.client-link:hover .client-icon, .client-link:focus .client-icon{
    fill: var(--brand-color);
}







/* PORTFOLIO.HTML */

.pictures-section {
    padding-top: 50px;
    padding-bottom: 0;
}

.pictures-list {
    display: flex;
    flex-wrap: wrap;
}

.pictures-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    
}

.pictures-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.pictures-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

/* .pictures-item {
    margin-bottom: 30px;
} */

.pictures-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.card-title {
    font-size: 18px;
    line-height: calc(36/18);
    font-weight: 700;
    letter-spacing: 0.06em;

}

.card-text {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--text-color);
    margin-top: 4px;
    letter-spacing: 0.03em;

}

.text-conteiner {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}


.overlay {
    position: relative;
    overflow: hidden;
    
}

.overlay-text {
    top: 0;
    transform: translateY(100%);
    color: white;
    position: absolute;
    /* height: 168px; */
    background-color: #2196F3;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: calc(28 / 18);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures-item:hover .overlay-text {
    transform:translateY(0);
}

.button-list {
    display: flex;
    justify-content: center; 
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    border: none;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    height: 38px;
    letter-spacing: 0.06em;
    flex-basis: calc((100% - 120px) / 5);
    padding: 6px 22px ;
}



.button-item:not(:first-child) {
    margin-left: 8px;
}


/* FOOTER */


footer {
    background: #2F303A;
}


.address-link {
    font-size: 14px;
    font-style: normal;
    color: white;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: calc(24/14);
    font-weight: 400;
}

.logo-span-bottom {
    color: white;
    font-style: normal;
}

.footer-item {
    margin-top: 9px;
}

.logo-footer {
    margin-bottom: 30px;
}

.footer { 
    padding: 60px 0;
}



.footer-text {
    color: white;
    opacity: 60%;
}

.address-title {
    color: white;
    font-size: 14px;
    line-height: calc(16/14);
    font-weight: 700;
    letter-spacing: 0.03em;
}

.footer-conteiner {
    display: flex;
    align-items: baseline;
    
}

.address-conteiner {
    margin-left: 70px;
}

.address-list {
    display: flex;
    margin-top: 20px;
    
}

.address-icon {
    width: 20px;
    height: 20px;
    fill: white;
    
}

.address-link-footer {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    
}

.address-item:not(:nth-child(1)) {
    margin-left: 10px;
}

.address-link-footer:hover, .address-link-footer:focus {
    background-color: var(--brand-color);
}


















