/* MAIN TAGS */
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
:root {
    --brand-color:#2196F3; 
    --text-color: #757575;
}

li {
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}



/* COMMON STYLES */

.link  {
    text-decoration: none;
    font-weight: 500;
    color: #212121;
}

.link:hover {
    color: var(--brand-color);
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
}

.link:focus {
    color: var(--brand-color);
}

.nav {
    display: flex;
    margin: 0
}

.button {
    cursor: pointer;
}

.button:hover {
    background-color: var(--brand-color);
    color: white;
}

.button:focus {
    background-color:var(--brand-color);
    color: white;
}

.section {
    padding: 94px 0;
}


/* NAVIGATION */

.navigation {
    display: flex;  
    margin-left: 93px;
    padding-top: 32px;

}

.header {
    display: flex;
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    font-style: normal;
    color: var(--brand-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-span {
    color: black;
    font-style: normal;
}

.nav-link {
    font-size: 14px;
    line-height: calc(16/14);
    font-weight: 500;  
}

.portfolio, .contacts {
    margin-left: 50px;
}

.active {
    color: var(--brand-color);
}

.contact-link {
    font-size: 14px;
    line-height: calc(16/14);
    color: var(--text-color);
    font-weight: 500;
}

.phone {
    margin-left: 50px;
}

.contact-list {
    display: flex;
    padding-top: 32px;
    margin-left: auto;
}

/* INDEX.HTML */

    /* HERO */
.hero{
    height: 600px;
    background:#2F303A;
    text-align: center;
}

.main-title {
    font-size: 44px;
    line-height: calc(60/44);
    color: white;
    font-weight: 900;
    max-width: 696px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    padding-top: 200px;
}

.hero-button {
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    line-height: calc(26/16);
    border: none;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 200px;
}


    /* MAIN */

.main {
    display: flex;
    /* padding-left: 215px; */
}

.main-list {
    flex-basis: calc((100% - 90px) / 4);

}
.main-list + .main-list {
    margin-left: 30px;
}

.mail-list-title {
    font-size: 14px;
    line-height: calc(16/14);
    font-weight: 700;
    padding-bottom: 10px;
}

.main-list-text {
    font-size: 14px;
    color: var(--text-color);
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

    /* TASK */
.task-title {
    font-size: 36px;
    line-height: calc(42/36);
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.task-section {
    padding-top: 0;
}

.task-list {
    display: flex;
}

.task-item {
    flex-basis: calc((100% - 60px) / 3);
}
.task-item + .task-item {
    margin-left: 30px;
}

    /* TEAM */

.team-title {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center; 
    margin-bottom: 50px; 
}

.team-section {
    background: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-item {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}

.team-item + .team-item {
    margin-left: 30px;
}


.team-item-title {
    font-size: 16px;
    line-height: calc(19/16);
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

.team-item-par {
    font-size: 16px;
    line-height: calc(19/16);
    color: var(--text-color);
    margin-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}


/* PORTFOLIO.HTML */

.pictures-section {
    padding-top: 50px;
    padding-bottom: 0;
}

.pictures-list {
    display: flex;
    flex-wrap: wrap;
}

.pictures-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.pictures-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

/* .pictures-item {
    margin-bottom: 30px;
} */

.pictures-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.card-title {
    font-size: 18px;
    line-height: calc(36/18);
    font-weight: 700;
    margin-top: 20px;
    padding-left: 24px;
}

.card-text {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--text-color);
    margin-top: 4px;
    padding-left: 24px;
    padding-bottom: 20px;
}

.button-list {
    display: flex;
    justify-content: center; 
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(26/16);
    border: none;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    height: 38px;
    letter-spacing: 0.06em;
    flex-basis: calc((100% - 120px) / 5);
    padding: 6px 22px ;
}



.button-item:not(:first-child) {
    margin-left: 30px;
}


/* FOOTER */


footer {
    background: #2F303A;
}

.address {
    padding: 60px 0;

}

.address-link {
    font-size: 14px;
    font-style: normal;
    color: white; 
}

.logo-span-bottom {
    color: white;
    font-style: normal;
}

.footer-item {
    margin-top: 9px;
}

.logo-footer {
    margin-bottom: 30px;
}



.footer-text {
    color: white;
    opacity: 60%;
}





















