.client-section {
    background-color: white;
}

.client-section__title {
    text-align: center;
    font-size: 36px;
    line-height: calc(42/36);
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}

.client-list {
    display: flex;
    justify-content: center;
    align-content: center;
}

.client-list__item {
    width: 170px;
    height: 92px;
    &:not(:nth-child(1)) {
        margin-left: 30px;
    }
}

.client-list__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border-color: var(--brand-color);
    }
    &:focus {
        border-color: var(--brand-color);
    }
    &:hover .client-list__icon {
        fill: var(--brand-color);
    }
    &:focus .client-list__icon {
        fill: var(--brand-color);
    }
}

.client-list__icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
