.text-conteiner__text {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--text-color);
    margin-top: 4px;
    letter-spacing: 0.03em;

}

.text-conteiner {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}

.text-conteiner__title {
    font-size: 18px;
    line-height: calc(36/18);
    font-weight: 700;
    letter-spacing: 0.06em;
}